@page
@model ASHATCore.Pages.CMS.Blogs.IndexModel
@{
    ViewData["Title"] = "Blogs";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <div class="blog-posts">
        @foreach (var post in Model.RecentPosts)
        {
            <article class="blog-post">
                <h2>@post.Title</h2>
                <div class="post-meta">
                    <span>By @post.Author</span>
                    <span>@post.PublishedDate.ToString("MMM dd, yyyy")</span>
                </div>
                <p>@post.Excerpt</p>
            </article>
        }
    </div>
</div>
